---
layout: default
---

<div class="home">
  <div class="darkcontainer"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Was ist das hier?</h2>
          Wir sind eine Gruppe von Open-Data-Interessierten aus Ulm.
          Unser Ziel ist es, gemeinsam diverse Datensätze unter offener Lizenz zu erhalten,
          anschließend per <a href="https://de.wikipedia.org/wiki/Programmierschnittstelle">API</a>
          für Drittanwendungen verfügbar zu machen und tolle Anwendungen daraus zu bauen.
        </p>

        <ul>
          <li>Auf <a href="https://github.com/UlmAPI">GitHub</a> finden sich einige unserer Projekte.</li>
          <li>Im <a href="http://wiki.ulmapi.de/">Wiki</a> dokumentieren wir unseren Fortschritt.</li>
          <li>Wir bedienen außerdem einen <a href="https://twitter.com/UlmAPI">Twitter</a>-Account.
            <a href="https://twitter.com/UlmAPI"><img src="images/twitter_follow.png" alt="@UlmAPI" /></a>
          </li>
          <li>Facebook-Fankids d&uuml;rfen uns auch <a href="http://www.facebook.com/datalove.ulm/">bei
            Facebook</a> gerne liken, um immer über Aktuelles informiert zu bleiben.
        </ul>
      </div>
      <div class="col-md-4">
        <h2>Wer steckt dahinter?</h2>

        <p>Für die wissenschaftliche und praktische Bearbeitung des Themas "Open Data"
          wurde im Frühjahr 2011 die studentische datalove-Hochschulgruppe an der
          <a href="http://www.uni-ulm.de/">Universität Ulm</a> gegründet und von der
          Studierendenvertretung anerkannt.
        </p>

        <p>
          UlmAPI.de besteht aber nicht nur aus Studierenden, sondern steht allen offen,
          die sich f&uuml;r das Thema begeistern. Einfach mal bei einem unserer
          Treffen vorbeischauen!
        </p>
      </div>
      <div class="col-md-4">
        <h2>Wie kann ich mitmachen?</h2>

        <ul>
          <li>
            Schreibe Ideen, welche Daten und Anwendungen Du gerne hättest:
            In unser <a href="http://wiki.ulmapi.de">Wiki</a>, über das
            <a href="https://docs.google.com/spreadsheet/viewform?hl=de_DE&formkey=dGN5UXFlSEZ6aGNtZTNrcmNfQnpWM0E6MQ">Formular</a>
            hierfür oder auf die Mailingliste datalove at uni-ulm.de.
          </li>
          <li>
            Nimm die <a href="#datenquellen">Datenquellen</a> unten und baue Tolle Neue Dinge[tm]
          </li>
          <li>
            Falls Du Datenquellen hast:
            <a href="https://docs.google.com/spreadsheet/viewform?hl=de_DE&formkey=dGN5UXFlSEZ6aGNtZTNrcmNfQnpWM0E6MQ">Erzähle</a>
            uns davon!</li>
          <li>
            <p>
              Komm bei einem unserer Treffen oder
              Hackathons einfach mal vorbei!<br />
              Wir treffen uns alle zwei Wochen
              um uns auszutauschen und an Projekten zu hacken.
            </p>
          </li>
        </ul>
          <div style="text-align:center;background:#CCCCCC;padding-bottom:1px;padding-top:4px;">
            <h4>N&auml;chstes Treffen</h4>
            <p>
              Montag, 23. Februar 2015 / 18:00 Uhr<br />
              <a href="http://www.uni-ulm.de/in/vs/anfahrt.html">Universität Ulm, O27/341</a>
            </p>
          </div>
      </div> <!-- END span -->
    </div> <!-- END row-->
  </div> <!-- END CONTAINER -->

  <div class="darkcontainer"></div>
  <div class="container">
    <div class="row-same-height row-centered">
        <h2><a name="aktuelles"></a>Aktuelles</h2>
        {% assign loopindex = 0 %}
        {% for post in site.posts %}
        {% if loopindex < site.amountofnews %} {% unless post.isarchive %}
            {% assign loopindex=loopindex | plus:1 %}
            {% assign testli=loopindex | modulo:4 %}
            <div class="col-md-3 col-sm-6 col-xs-12" style="max-width:250px;min-height:275px;">
              {% if post.remote %}
                {% if post.remote == "noremote" %}
                {% else %}
                <a href="{{ post.remote }}">
                {% endif %}
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}">
              {% endif %}
                  <img width="220px" src="{{ post.img | prepend: site.baseurl }}" alt="{{ post.imgalt }}"
                    title="{{ post.title }}" />
                </a><br />

                <div class="desc{% if post.largedesc %}{{"-large"}}{% endif %}">
                  {% if post.remote %}
                  {{post.content}}
                  {% else %}
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
                  {%endif%}
                </div>
              </div> <!-- END grid/grid-last -->
              {% if testli == 0 %} {% endif %}
              {% endunless %}{% endif %}
        {% endfor %}
    </div><!-- END row -->
  </div><!-- END Container -->

  <div class="darkcontainer" style="height:12px;"></div>
  <div class="container">
    <div class="row-same-height">
      <h2><a name="projekte"></a>Projekte</h2>
        {% assign loopindex = 0 %}
        {% for post in site.posts %}
          {% if post.categories contains "project" %}
            {% assign loopindex=loopindex | plus:1 %}
            {% assign testli=loopindex | modulo:4 %}
            <div class="col-md-3 col-sm-6 col-xs-12" style="max-width:250px;min-height:275px;">
              {% if post.remote %}
                {% if post.remote == "noremote" %}
                {% else %}
                <a href="{{ post.remote }}">
                {% endif %}
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}">
              {% endif %}
                  <img width="220px" src="{{ post.img | prepend: site.baseurl }}" alt="{{ post.imgalt }}"
                    title="{{ post.title }}" />
                </a><br />

              <div class="desc{% if post.largedesc %}{{"-large"}}{% endif %}">
                {% if post.remote %}
                {{post.content}}
                {% else %}
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
                {%endif%}
              </div>
              </div> <!-- END grid/grid-last -->
              {% if testli == 0 %} </div><div class="grid-separator"></div><div class="row-same-height"> {% endif %}
          {% endif %}
        {% endfor %}
      </div><!-- END span -->
    </div><!-- END row -->
  </div><!-- END Container -->

  <div class="darkcontainer" style="height:12px;"></div>
  <div class="container">
    <div class="row-same-height">
        <h2><a name="archiv"></a><a href="/archive/">Archiv</a></h2>
        {% assign loopindex = 0 %}
        {% for post in site.posts %}
        {% if post.isarchive and loopindex < site.amountofarchive %}
            {% assign loopindex=loopindex | plus:1 %}
            {% assign testli=loopindex | modulo:4 %}
            <div class="col-md-3 col-sm-6 col-xs-12" style="max-width:250px;min-height:275px;">
              {% if post.remote %}
                {% if post.remote == "noremote" %}
                {% else %}
                <a href="{{ post.remote }}">
                {% endif %}
              {% else %}
                <a href="{{ post.url | prepend: site.baseurl }}">
              {% endif %}
                  <img width="220px" src="{{ post.img | prepend: site.baseurl }}" alt="{{ post.imgalt }}"
                    title="{{ post.title }}" />
                </a><br />

              <div class="desc{% if post.largedesc %}{{"-large"}}{% endif %}">
                {% if post.remote %}
                {{post.content}}
                {% else %}
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
                {%endif%}
              </div>
              </div> <!-- END grid/grid-last -->
              {% if testli == 0 %} </div><div class="grid-separator"></div><div class="row-same-height">{% endif %}
          {% endif %}
        {% endfor %}
    </div><!-- END row -->
  </div><!-- END Container -->

</div>
